fos_user:
    from_email: 
        address: '%env(APP_PROJECT_MAIL)%'
        sender_name: "App - %env(APP_PROJECT_NAME)%"
    db_driver: orm # other valid values are 'mongodb', 'couchdb' and 'propel'
    firewall_name: main
    user_class: App\Entity\User
    group:
        group_class: App\Entity\Group
    service:
        mailer: fos_user.mailer.twig_swift
    registration:
        confirmation:
            enabled: true
            template:   Registration/registration.email.twig
    resetting:
        email:
            template:   Resetting/resetting.email.twig
        retry_ttl: 900
